<% content_for :title, "Configuration" %>

<div class="row">
  <div class="col-12 col-md-4">
    <%= render 'form' %>
  </div>
  <div class="col-12 col-md-8 px-md-6">
    <%= image_tag 'diagram.svg', style: 'max-width: 100%' %>
  </div>
</div>
