<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-secondary shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs text-truncate font-weight-bold text-secondary text-uppercase mb-1">
            <%= label %>
          </div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">
            <%= text %>
          </div>
        </div>
        <% if icon %>
          <div class="col-auto">
            <i class="bi bi-<%= icon %> text-gray-600" style="font-size: 2em;"></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
